body{
    padding: 0;
    margin: 0;
}

header{
    background: black;
    color: white;
}

.website-header{
    padding: 20px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.website-header img{
    width: 50px;
    height: 50px;
    margin: 0 30px;
}

.website-header h1{
    margin: auto 0;
}

.social-icons{
    text-align: right;
    flex-grow: 1;
}

.social-icons i{
    margin: 0 7px;
    cursor: pointer;
}